* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    margin: 10px;
    text-align: center;
}

.info {
    margin: 30px auto;
    width: 900px;
    text-align: center;
}

.info input,
.info select {
    width: 80px;
    height: 27px;
    padding: 5px;
    margin-right: 15px;
    outline: none;
    border: 1px solid #b8daff;
    border-radius: 5px;
}

.info button {
    width: 50px;
    height: 27px;
    background: #004085;
    color: #fff;
    cursor: pointer;
    border-radius: 5px;
}

table {
    width: 800px;
    margin: 0 auto;
    border-collapse: collapse;
    text-align: center;
}

th,
td {
    border: 1px solid #b8daff;
    padding: 10px;
}

th {
    font-size: 20px;
    font-weight: 400;
    color: #004085;
    background: #cfe5ff;
}

td {
    color: #666;
}

td a {
    text-decoration: none;
    color: #721c24;
}

tbody tr:hover {
    background: #e1ecf8;
}